* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.editor-container * {
    width: 100%;
}

.result-container * {
    width: 100%;
}

.btn {
    padding: 0.4rem;
}

html {
    background: #FFB775;
}

.main-editor {
    width: 100%;
    padding: 1rem;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 7px solid #36383f;
}

.editor-container {
    width: 49%;
}

.result-container {
    width: 49%;
}

/* mobile phone */
@media all and (max-width: 768px) {
    .main-editor {
        flex-wrap: wrap;
    }
    .editor-container {
        width: 100%;
    }
    .result-container {
        width: 100%;
        margin-top: 25px;
    }
}

.editor {
    background-color: #ffffff;
    overflow-x: auto;
    overflow-y: auto;
    white-space: pre;
    outline: none;
    padding: 0.4rem;
    height: 60vh;

    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.explanation {
    color: white;
    overflow-y: auto;
    height: 20vh;
    padding-top: 10px;
}

.result {
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    white-space: pre;
    padding: 0.4rem;
    height: 90vh;
}